<a href="https://colab.research.google.com/github/Meghashyamt/python/blob/master/creditcard.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

In [0]:
data = pd.read_csv("creditcard.csv")
data.head()

   Time        V1        V2        V3  ...       V27       V28  Amount  Class
0     0 -1.359807 -0.072781  2.536347  ...  0.133558 -0.021053  149.62    0.0
1     0  1.191857  0.266151  0.166480  ... -0.008983  0.014724    2.69    0.0
2     1 -1.358354 -1.340163  1.773209  ... -0.055353 -0.059752  378.66    0.0
3     1 -0.966272 -0.185226  1.792993  ...  0.062723  0.061458  123.50    0.0
4     2 -1.158233  0.877737  1.548718  ...  0.219422  0.215153   69.99    0.0

[5 rows x 31 columns]

In [0]:
data.shape

(9965, 31)

In [0]:
data.isnull().sum()

Time      0
V1        0
V2        0
V3        1
V4        1
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [0]:
data=data.fillna(data.mean())

In [0]:
X= data.iloc[:, 1:30]
y=data.Class

In [0]:
y=y.astype('int')

In [0]:
from sklearn.preprocessing import scale

In [0]:
X= scale(X)

In [0]:
X= pd.DataFrame(X)

In [28]:
X.head()

         0         1         2   ...        26        27        28
0 -0.734344 -0.270072  1.409010  ...  0.311002 -0.090446  0.469381
1  0.941496 -0.011111 -0.639573  ... -0.035483  0.043800 -0.326521
2 -0.733390 -1.238414  0.749331  ... -0.148197 -0.235654  1.710063
3 -0.475884 -0.355985  0.766433  ...  0.138818  0.219156  0.327893
4 -0.601958  0.456171  0.555274  ...  0.519717  0.795863  0.038035

[5 rows x 29 columns]

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2, random_state=10)

In [0]:
from sklearn.neural_network import MLPClassifier

In [0]:
model= MLPClassifier()

In [33]:
model.fit(X_train, y_train)

MLPClassifier(activation='relu', alpha=0.0001, batch_size='auto', beta_1=0.9,
              beta_2=0.999, early_stopping=False, epsilon=1e-08,
              hidden_layer_sizes=(100,), learning_rate='constant',
              learning_rate_init=0.001, max_iter=200, momentum=0.9,
              n_iter_no_change=10, nesterovs_momentum=True, power_t=0.5,
              random_state=None, shuffle=True, solver='adam', tol=0.0001,
              validation_fraction=0.1, verbose=False, warm_start=False)

In [0]:
predict= model.predict(X_test)

In [0]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [36]:
accuracy_score(y_test, predict)

0.9994982438534872

In [37]:
confusion_matrix(y_test, predict)

array([[1986,    0],
       [   1,    6]])

In [38]:
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00      1986
           1       1.00      0.86      0.92         7

    accuracy                           1.00      1993
   macro avg       1.00      0.93      0.96      1993
weighted avg       1.00      1.00      1.00      1993