<a href="https://colab.research.google.com/github/Meghashyamt/python/blob/master/KNN.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sb

from sklearn.model_selection import train_test_split

from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score, confusion_matrix

In [0]:
data = pd.read_csv("cars.csv")
data.head()

           car_model   mpg  cyl   disp   hp  ...   qsec  vs  am  gear  carb
0          Mazda RX4  21.0    6  160.0  110  ...  16.46   0   1     4     4
1      Mazda RX4 Wag  21.0    6  160.0  110  ...  17.02   0   1     4     4
2         Datsun 710  22.8    4  108.0   93  ...  18.61   1   1     4     1
3     Hornet 4 Drive  21.4    6  258.0  110  ...  19.44   1   0     3     1
4  Hornet Sportabout  18.7    8  360.0  175  ...  17.02   0   0     3     2

[5 rows x 12 columns]

In [0]:
data.shape

(32, 12)

In [0]:
data.isnull().sum()

car_model    0
mpg          0
cyl          0
disp         0
hp           0
drat         0
wt           0
qsec         0
vs           0
am           0
gear         0
carb         0
dtype: int64

In [0]:
model= KNeighborsClassifier(n_neighbors=7)

In [0]:
X= data.loc[:,('mpg','hp','wt')]
y=data.am

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.20, random_state=10)

In [0]:
model.fit(X_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
           metric_params=None, n_jobs=None, n_neighbors=7, p=2,
           weights='uniform')

In [0]:
y_test

20    0
7     0
5     0
2     1
3     0
21    0
13    0
Name: am, dtype: int64

In [0]:
predict=model.predict(X_test)

In [0]:
predict

array([1, 1, 1, 1, 1, 0, 0])

In [0]:
accuracy_score(y_test, predict)

0.42857142857142855

In [0]:
confusion_matrix(y_test, predict)

array([[2, 4],
       [0, 1]])