<a href="https://colab.research.google.com/github/Meghashyamt/python/blob/master/ksample.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#k 
import numpy as np
import pandas as pd

from sklearn.preprocessing import scale
from sklearn.preprocessing import normalize

#model
from sklearn.cluster import KMeans

In [2]:
data =pd.read_excel("university.xlsx")
data.head()

,University,SAT,Top10,Accept,SFRatio,Expenses,GradRate
0,Harvard University,1310,89,22,13,22704,94
1,California Institute of Technology,1415,100,25,6,63575,81
2,Massachusetts Institute of Technology,1260,62,59,9,25026,72
3,Stanford University,1310,76,24,12,31510,88
4,Princeton University,1280,83,33,13,21864,90

In [3]:
data.isnull().sum()

University    0
SAT           0
Top10         0
Accept        0
SFRatio       0
Expenses      0
GradRate      0
dtype: int64

In [20]:
data1=data.iloc[:,1:]
data1.head()

    SAT  Top10  Accept  SFRatio  Expenses  GradRate
0  1310     89      22       13     22704        94
1  1415    100      25        6     63575        81
2  1260     62      59        9     25026        72
3  1310     76      24       12     31510        88
4  1280     83      33       13     21864        90

In [21]:
data1.shape

(100, 6)

In [11]:
data_new =scale(data1)
data_new

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: DataConversionWarning: Data with input dtype int64 were all converted to float64 by the scale function.
  """Entry point for launching an IPython kernel.

array([[ 6.32860277e-01,  1.50011672e+00, -8.47758804e-01,
        -1.06559813e+00, -1.49953373e+00,  1.21638361e+00],
       [ 2.80231274e+00,  3.69443640e+00, -3.36033168e-01,
        -2.18224287e+00,  1.29812886e+00, -1.28171859e+00],
       [-4.00212326e-01, -3.88594066e+00,  5.46352405e+00,
        -1.70368084e+00, -1.34059041e+00, -3.01117396e+00],
       [ 6.32860277e-01, -1.09317017e+00, -5.06608380e-01,
        -1.22511881e+00, -8.96753843e-01,  6.34133635e-02],
       [ 1.30167148e-02,  3.03215082e-01,  1.02856853e+00,
        -1.06559813e+00, -1.55703261e+00,  4.47736779e-01],
       [ 1.45931836e+00, -4.94719345e-01, -8.47758804e-01,
         1.64625339e+00, -1.56606814e+00, -3.20910052e-01],
       [ 2.49239096e+00,  5.02698689e-01, -3.36033168e-01,
         5.29608650e-01,  4.98073064e-01,  8.32060194e-01],
       [ 1.25270384e+00, -6.94202952e-01, -3.36033168e-01,
        -1.08474061e-01, -1.22169095e+00, -8.97395175e-01],
       [-1.24733186e+00, -8.93686559e-01, -1.53005965e+00,
         6.89129328e-01, -3.96098807e-02,  1.40854532e+00],
       [ 5.08891564e-01, -1.09317017e+00,  5.11725637e-03,
         5.29608650e-01,  8.77775107e-02,  1.40854532e+00],
       [-1.45394638e+00,  5.02698689e-01,  1.02856853e+00,
         5.29608650e-01, -7.67244470e-01, -5.13071760e-01],
       [-1.53659219e+00, -1.29265377e+00,  1.75692469e-01,
         6.89129328e-01,  9.25823633e-01, -3.20910052e-01],
       [-9.16748628e-01,  9.01665903e-01,  5.11725637e-03,
         8.48650006e-01, -4.84404759e-01, -1.08955688e+00],
       [-6.68811203e-01,  3.03215082e-01, -1.65457956e-01,
         1.32721204e+00,  9.12475679e-01,  4.47736779e-01],
       [-1.14402460e+00, -9.57521313e-02, -1.65457956e-01,
         5.29608650e-01,  7.93439315e-01,  1.21638361e+00],
       [-8.96087176e-01, -1.09317017e+00,  8.57993317e-01,
        -1.38463948e+00, -4.98847929e-01, -1.08955688e+00],
       [ 5.70875920e-01, -4.94719345e-01, -1.01833402e+00,
         3.70087972e-01, -1.48604887e+00, -1.08955688e+00],
       [-2.34920710e-01, -1.09317017e+00, -1.35948444e+00,
         1.48673272e+00, -5.18288026e-01,  1.40854532e+00],
       [ 2.81615592e-01, -6.94202952e-01, -5.06608380e-01,
        -1.08474061e-01,  1.64709227e+00,  6.34133635e-02],
       [ 2.60954139e-01,  5.02698689e-01, -6.77183592e-01,
         5.10466169e-02, -1.19964971e+00, -1.28171859e+00],
       [-1.37130057e+00, -1.09317017e+00, -6.77183592e-01,
        -1.38463948e+00,  1.52607083e+00, -8.97395175e-01],
       [ 2.60954139e-01,  5.02698689e-01, -8.47758804e-01,
         2.10567295e-01, -1.45983212e+00, -1.28171859e+00],
       [-4.82858135e-01,  1.10114951e+00,  5.16842893e-01,
         5.29608650e-01, -1.39199714e+00, -5.13071760e-01],
       [-2.55582162e-01,  1.10114951e+00, -1.65457956e-01,
         8.48650006e-01,  5.11626370e-01,  1.02422190e+00],
       [ 1.31468819e+00,  7.02182296e-01,  1.19914374e+00,
         5.10466169e-02,  4.61520207e-01, -5.13071760e-01],
       [-1.52274902e-01,  9.01665903e-01, -1.01833402e+00,
        -4.27515416e-01, -5.86739069e-01,  4.47736779e-01],
       [-1.61923800e+00, -6.94202952e-01, -1.18890923e+00,
         2.10567295e-01,  9.53796836e-03,  8.32060194e-01],
       [ 1.45931836e+00, -9.57521313e-02,  5.16842893e-01,
         2.10567295e-01,  4.50841844e-01, -3.20910052e-01],
       [ 1.14939658e+00,  7.02182296e-01,  1.75692469e-01,
        -2.67994739e-01, -9.13113643e-01, -8.97395175e-01],
       [-1.22667041e+00,  7.02182296e-01, -8.47758804e-01,
        -1.54416016e+00,  1.60465263e+00,  1.21638361e+00],
       [ 1.19071948e+00,  9.01665903e-01,  5.11725637e-03,
        -2.67994739e-01,  1.34583923e+00, -1.28171859e+00],
       [ 1.10807367e+00,  1.03731476e-01,  1.75692469e-01,
         1.16769136e+00, -8.41993009e-01,  6.34133635e-02],
       [ 1.33534965e+00,  5.02698689e-01,  1.75692469e-01,
        -9.06077450e-01,  9.01732972e-02,  4.47736779e-01],
       [ 1.98969783e-01,  1.03731476e-01,  8.57993317e-01,
         1.00817068e+00,  7.76737260e-01, -1.47388030e+00],
       [-1.37130057e+00, -1.09317017e+00,  1.36971895e+00,
        -1.22511881e+00, -7.29870200e-01,  6.34133635e-02],
       [ 6.74183181e-01,  1.50011672e+00, -1.01833402e+00,
        -1.54416016e+00,  1.54749601e+00, -1.28748344e-01],
       [-1.53659219e+00, -1.29265377e+00,  1.75692469e-01,
         5.29608650e-01,  5.12310881e-01, -1.28748344e-01],
       [-8.96087176e-01, -4.94719345e-01,  5.16842893e-01,
         8.48650006e-01, -1.32429495e-01,  1.60070703e+00],
       [ 1.29402674e+00, -8.93686559e-01,  5.11725637e-03,
        -1.22511881e+00,  1.10208507e+00, -1.08955688e+00],
       [-2.96905066e-01, -6.94202952e-01, -1.53005965e+00,
        -1.22511881e+00,  1.41559085e+00, -8.97395175e-01],
       [-1.43328493e+00,  3.03215082e-01, -1.53005965e+00,
         1.32721204e+00,  1.40778743e+00, -7.05233467e-01],
       [ 9.63443509e-01, -2.95235738e-01, -6.77183592e-01,
        -4.27515416e-01, -4.03221822e-01,  2.55575071e-01],
       [-8.75425724e-01,  9.01665903e-01,  1.36971895e+00,
        -2.67994739e-01, -2.92194230e-01,  2.55575071e-01],
       [-8.96087176e-01,  3.03215082e-01,  5.11725637e-03,
         1.32721204e+00,  1.39840963e+00,  1.40854532e+00],
       [ 1.19071948e+00,  7.02182296e-01,  5.11725637e-03,
         1.16769136e+00, -1.24400599e+00,  2.55575071e-01],
       [-8.34102820e-01,  9.01665903e-01, -5.06608380e-01,
        -9.06077450e-01, -2.57694904e-01, -1.28171859e+00],
       [-5.86165395e-01,  1.30063312e+00, -1.65457956e-01,
         5.10466169e-02,  1.38567774e+00, -3.20910052e-01],
       [-1.30931622e+00,  7.02182296e-01,  1.02856853e+00,
        -1.06559813e+00,  1.18374716e+00, -5.13071760e-01],
       [-5.44842491e-01, -1.29265377e+00,  1.02856853e+00,
         5.29608650e-01,  1.60088782e+00,  2.55575071e-01],
       [ 5.43396189e-02,  1.10114951e+00,  6.87418105e-01,
        -9.06077450e-01, -3.70639126e-01, -1.08955688e+00],
       [ 8.18813345e-01, -2.95235738e-01, -1.35948444e+00,
         1.64625339e+00, -1.97800241e-01, -1.28748344e-01],
       [ 5.50214468e-01,  1.10114951e+00,  1.19914374e+00,
        -7.46556772e-01,  1.11748655e+00, -7.05233467e-01],
       [-1.06137879e+00, -6.94202952e-01, -1.35948444e+00,
         6.89129328e-01, -3.28541734e-01,  1.40854532e+00],
       [-4.82858135e-01, -1.29265377e+00, -5.06608380e-01,
         5.10466169e-02,  1.26985858e+00,  6.39898487e-01],
       [-7.30795559e-01,  9.01665903e-01, -1.01833402e+00,
        -7.46556772e-01, -1.51787861e+00, -8.97395175e-01],
       [-3.17566518e-01,  5.02698689e-01, -1.01833402e+00,
         1.48673272e+00, -1.80892834e-01,  1.40854532e+00],
       [-1.93597806e-01,  1.10114951e+00,  1.36971895e+00,
         5.29608650e-01, -5.88108090e-01, -1.28171859e+00],
       [ 7.50010710e-02, -2.95235738e-01,  1.19914374e+00,
         2.10567295e-01, -1.47345388e+00,  1.21638361e+00],
       [ 1.35601110e+00, -1.29265377e+00, -6.77183592e-01,
        -1.54416016e+00,  8.44572244e-01, -1.08955688e+00],
       [-4.89676414e-02,  1.10114951e+00, -8.47758804e-01,
         1.16769136e+00,  9.24317710e-01,  6.39898487e-01],
       [-1.72936354e-01, -1.29265377e+00,  5.16842893e-01,
        -1.06559813e+00,  4.17574637e-01,  1.40854532e+00],
       [ 5.43396189e-02, -2.95235738e-01,  8.57993317e-01,
         1.32721204e+00, -1.43723917e-01, -1.08955688e+00],
       [-1.37130057e+00, -8.93686559e-01, -1.65457956e-01,
        -7.46556772e-01,  1.51019019e+00,  1.21638361e+00],
       [ 8.18813345e-01, -6.94202952e-01,  5.16842893e-01,
        -1.54416016e+00, -2.93631702e-01,  2.55575071e-01],
       [ 4.05584304e-01, -8.93686559e-01,  8.57993317e-01,
         1.64625339e+00, -1.15679936e+00, -1.28748344e-01],
       [-9.78732984e-01,  7.02182296e-01, -5.06608380e-01,
        -1.06559813e+00, -1.73632916e-02,  2.55575071e-01],
       [-1.59857655e+00, -9.57521313e-02, -1.18890923e+00,
        -1.22511881e+00, -3.39630803e-01,  1.02422190e+00],
       [-2.34920710e-01, -2.95235738e-01,  5.16842893e-01,
         1.48673272e+00, -7.12552086e-01,  1.02422190e+00],
       [ 1.10807367e+00, -1.09317017e+00,  1.02856853e+00,
         6.89129328e-01, -1.00599760e-01,  8.32060194e-01],
       [ 1.19071948e+00,  1.03731476e-01,  1.19914374e+00,
        -1.38463948e+00,  1.08442470e+00,  8.32060194e-01],
       [-3.79550874e-01,  1.50011672e+00,  6.87418105e-01,
         1.00817068e+00, -1.47680798e+00, -1.28748344e-01],
       [ 1.25270384e+00,  1.03731476e-01, -1.65457956e-01,
         1.32721204e+00,  1.50204451e+00,  6.39898487e-01],
       [ 7.98151893e-01, -4.94719345e-01, -1.53005965e+00,
         3.70087972e-01,  3.97381579e-01, -1.28171859e+00],
       [-7.10134107e-01, -6.94202952e-01,  5.11725637e-03,
        -4.27515416e-01,  7.91591137e-01, -5.13071760e-01],
       [ 1.43865691e+00,  1.10114951e+00,  5.16842893e-01,
         5.10466169e-02, -1.52725640e+00, -1.28748344e-01],
       [-1.43328493e+00, -1.09317017e+00,  1.75692469e-01,
        -9.06077450e-01, -3.19232392e-01, -1.08955688e+00],
       [-2.83061893e-02, -8.93686559e-01,  6.87418105e-01,
         6.89129328e-01,  1.35275279e+00,  1.60070703e+00],
       [ 1.06675077e+00,  1.10114951e+00,  3.46267681e-01,
         1.48673272e+00, -6.23360377e-01, -1.47388030e+00],
       [ 1.00476641e+00, -1.29265377e+00,  8.57993317e-01,
         5.29608650e-01,  9.32394933e-01,  6.39898487e-01],
       [ 1.39733400e+00,  1.50011672e+00, -6.77183592e-01,
        -2.67994739e-01, -7.59167247e-01,  1.40854532e+00],
       [-3.58889422e-01,  9.01665903e-01,  1.02856853e+00,
         1.32721204e+00, -1.36906604e+00, -5.13071760e-01],
       [-6.89472655e-01,  1.10114951e+00, -3.36033168e-01,
        -1.38463948e+00,  1.00029837e+00,  4.47736779e-01],
       [ 5.50214468e-01, -8.93686559e-01,  1.36971895e+00,
        -1.38463948e+00,  1.31893797e+00, -1.08955688e+00],
       [ 4.46907208e-01, -2.95235738e-01,  1.75692469e-01,
         6.89129328e-01,  6.12728561e-01, -5.13071760e-01],
       [-1.28865476e+00, -6.94202952e-01, -3.36033168e-01,
        -1.22511881e+00, -4.57366597e-01, -1.28171859e+00],
       [-8.75425724e-01, -1.09317017e+00,  1.19914374e+00,
        -7.46556772e-01, -5.85164695e-01, -1.28171859e+00],
       [ 1.78308331e-01, -9.57521313e-02,  5.11725637e-03,
        -9.06077450e-01, -1.36653335e+00,  2.55575071e-01],
       [-3.38227970e-01,  1.10114951e+00,  3.46267681e-01,
        -1.22511881e+00, -7.98663499e-01, -8.97395175e-01],
       [ 7.50010710e-02,  1.03731476e-01,  8.57993317e-01,
        -9.06077450e-01,  1.73204413e-01, -1.08955688e+00],
       [-5.65503943e-01, -4.94719345e-01, -5.06608380e-01,
         1.64625339e+00,  6.86837767e-03,  4.47736779e-01],
       [-1.08204024e+00,  3.03215082e-01, -1.53005965e+00,
         2.10567295e-01, -1.53834547e+00, -3.20910052e-01],
       [ 3.64261400e-01, -6.94202952e-01, -1.35948444e+00,
         1.00817068e+00,  4.51731707e-01,  1.40854532e+00],
       [ 1.17005803e+00,  1.03731476e-01, -6.77183592e-01,
         5.29608650e-01,  6.23406924e-01, -1.28748344e-01],
       [-5.65503943e-01,  1.30063312e+00, -8.47758804e-01,
         1.16769136e+00,  1.31791121e+00,  1.60070703e+00],
       [ 4.05584304e-01,  7.02182296e-01,  1.36971895e+00,
        -1.06559813e+00, -9.26872302e-01,  2.55575071e-01],
       [-1.18534750e+00, -1.09317017e+00, -1.01833402e+00,
         5.10466169e-02, -1.27131795e+00,  1.02422190e+00],
       [-9.78732984e-01, -2.95235738e-01,  3.46267681e-01,
         3.70087972e-01, -1.15179832e-01,  1.60070703e+00],
       [ 1.37667255e+00, -2.95235738e-01, -1.65457956e-01,
        -4.27515416e-01,  9.41362019e-01, -1.47388030e+00],
       [-5.86165395e-01,  9.01665903e-01,  1.75692469e-01,
         6.89129328e-01, -1.40096423e+00,  1.60070703e+00],
       [ 1.43865691e+00,  1.03731476e-01, -1.18890923e+00,
         5.10466169e-02,  2.00927085e-01,  1.02422190e+00]])

In [13]:
data2_new= normalize(data1)
data2_new

array([[5.76023081e-02, 3.91343925e-03, 9.67367005e-04, 5.71625958e-04,
        9.98322750e-01, 4.13329539e-03],
       [2.22516183e-02, 1.57255253e-03, 3.93138133e-04, 9.43531519e-05,
        9.99750272e-01, 1.27376755e-03],
       [5.02834427e-02, 2.47426464e-03, 2.35454216e-03, 3.59167448e-04,
        9.98724949e-01, 2.87333958e-03],
       [4.15379241e-02, 2.40983377e-03, 7.61000137e-04, 3.80500068e-04,
        9.99129763e-01, 2.79033384e-03],
       [5.84426668e-02, 3.78964168e-03, 1.50672500e-03, 5.93558335e-04,
        9.98273803e-01, 4.10925001e-03],
       [6.19998797e-02, 3.62814111e-03, 1.01036841e-03, 1.37777510e-03,
        9.98060285e-01, 3.94962196e-03],
       [2.69718106e-02, 1.61830864e-03, 4.81639476e-04, 4.43108318e-04,
        9.99633099e-01, 1.77243327e-03],
       [5.00059974e-02, 2.91079686e-03, 9.32947713e-04, 7.09040262e-04,
        9.98739185e-01, 3.09738641e-03],
       [2.76736953e-02, 1.74805131e-03, 4.08635370e-04, 5.44847160e-04,
        9.99612923e-01, 2.15668668e-03],
       [2.84023481e-02, 1.65535158e-03, 5.88085428e-04, 5.00961661e-04,
        9.99592761e-01, 2.06918947e-03],
       [3.61714933e-02, 2.51315586e-03, 9.87311231e-04, 6.88126010e-04,
        9.99338477e-01, 2.54307438e-03],
       [2.07227652e-02, 1.28979866e-03, 4.81524834e-04, 4.12735572e-04,
        9.99783133e-01, 1.47896913e-03],
       [3.28855235e-02, 2.29000407e-03, 7.18954766e-04, 6.65698857e-04,
        9.99453636e-01, 2.18349225e-03],
       [2.15168576e-02, 1.43215652e-03, 4.48627344e-04, 4.83137140e-04,
        9.99766036e-01, 1.55294081e-03],
       [2.17733642e-02, 1.44088439e-03, 4.62506102e-04, 4.09140013e-04,
        9.99760305e-01, 1.67213744e-03],
       [3.30980028e-02, 2.03515228e-03, 8.56906222e-04, 2.94561514e-04,
        9.99447216e-01, 2.19582219e-03],
       [5.69782714e-02, 3.44398121e-03, 9.15488676e-04, 9.59083374e-04,
        9.98362198e-01, 3.57476530e-03],
       [3.42139430e-02, 2.05067797e-03, 5.12669493e-04, 7.82495542e-04,
        9.99408703e-01, 2.56334746e-03],
       [1.88249945e-02, 1.13561452e-03, 3.49419852e-04, 2.76624049e-04,
        9.99821229e-01, 1.28120612e-03],
       [4.76470296e-02, 3.09779450e-03, 8.48205636e-04, 7.37570118e-04,
        9.98854333e-01, 2.98715898e-03],
       [1.81271786e-02, 1.13575068e-03, 3.43714022e-04, 1.64384967e-04,
        9.99834202e-01, 1.24035930e-03],
       [5.54027787e-02, 3.60203824e-03, 9.43390968e-04, 9.00509561e-04,
        9.98450696e-01, 3.47339402e-03],
       [5.16706465e-02, 3.57909733e-03, 1.23417149e-03, 9.46198145e-04,
        9.98650433e-01, 3.49681923e-03],
       [2.43183491e-02, 1.66984718e-03, 4.99034789e-04, 4.79841143e-04,
        9.99701037e-01, 1.78500905e-03],
       [2.61433002e-02, 1.65463925e-03, 6.61855702e-04, 3.89326883e-04,
        9.99655172e-01, 1.65463925e-03],
       [3.52729131e-02, 2.38480387e-03, 5.82335830e-04, 4.71414719e-04,
        9.99371475e-01, 2.49572498e-03],
       [2.68282256e-02, 1.74238268e-03, 4.46764790e-04, 4.69103029e-04,
        9.99636217e-01, 2.05511803e-03],
       [2.63594932e-02, 1.58156959e-03, 5.85766516e-04, 4.10036561e-04,
        9.99649611e-01, 1.67919735e-03],
       [4.26521297e-02, 2.71567867e-03, 8.94576503e-04, 5.75084895e-04,
        9.99082208e-01, 2.65178035e-03],
       [1.79242915e-02, 1.24882359e-03, 3.23224929e-04, 1.46920422e-04,
        9.99837550e-01, 1.38105197e-03],
       [2.07976784e-02, 1.33777138e-03, 4.19997993e-04, 2.79998662e-04,
        9.99781888e-01, 1.25999398e-03],
       [4.12211952e-02, 2.53573744e-03, 8.65861564e-04, 8.34937937e-04,
        9.99142398e-01, 2.72127920e-03],
       [2.92505613e-02, 1.82816008e-03, 6.09386693e-04, 3.04693347e-04,
        9.99568288e-01, 1.95874294e-03],
       [2.30289700e-02, 1.46499266e-03, 5.71704454e-04, 4.64509869e-04,
        9.99732432e-01, 1.42926113e-03],
       [3.57081004e-02, 2.23727587e-03, 1.03032442e-03, 3.53254085e-04,
        9.99355807e-01, 2.59052996e-03],
       [1.95148297e-02, 1.32379562e-03, 3.12356269e-04, 1.48741080e-04,
        9.99807794e-01, 1.29404740e-03],
       [2.31245715e-02, 1.43928868e-03, 5.37334442e-04, 4.41381863e-04,
        9.99729919e-01, 1.66957487e-03],
       [2.89501401e-02, 1.85037303e-03, 7.02673303e-04, 5.85561086e-04,
        9.99576197e-01, 2.24855457e-03],
       [2.20992867e-02, 1.26799186e-03, 4.44620523e-04, 1.97609121e-04,
        9.99753947e-01, 1.35032899e-03],
       [1.93711330e-02, 1.19442559e-03, 2.75636675e-04, 1.83757783e-04,
        9.99810786e-01, 1.27099133e-03],
       [1.85615999e-02, 1.27323371e-03, 2.76122974e-04, 4.29524626e-04,
        9.99825947e-01, 1.28857388e-03],
       [3.42256314e-02, 2.06489480e-03, 5.93657256e-04, 4.38790146e-04,
        9.99409086e-01, 2.29719547e-03],
       [3.06482695e-02, 2.13076086e-03, 8.67170116e-04, 4.45973203e-04,
        9.99525052e-01, 2.20508972e-03],
       [1.90002203e-02, 1.27590476e-03, 4.15053357e-04, 4.30425704e-04,
        9.99817420e-01, 1.46037292e-03],
       [5.05079122e-02, 3.21104902e-03, 1.01998028e-03, 1.01998028e-03,
        9.98711798e-01, 3.36215720e-03],
       [3.03193683e-02, 2.10449207e-03, 5.87300113e-04, 3.42591732e-04,
        9.99535850e-01, 1.98213788e-03],
       [1.92858562e-02, 1.35663896e-03, 4.00825148e-04, 3.08327037e-04,
        9.99812083e-01, 1.32580626e-03],
       [1.96394898e-02, 1.37282618e-03, 5.32979574e-04, 2.09961650e-04,
        9.99805077e-01, 1.37282618e-03],
       [1.84238547e-02, 1.10278460e-03, 4.85225223e-04, 3.38187276e-04,
        9.99828627e-01, 1.30863772e-03],
       [3.26897742e-02, 2.21841681e-03, 7.90470358e-04, 3.56986613e-04,
        9.99460521e-01, 2.09092159e-03],
       [3.15988487e-02, 1.91653366e-03, 4.55176744e-04, 7.18700122e-04,
        9.99496259e-01, 2.08423035e-03],
       [2.14273556e-02, 1.42739658e-03, 5.57833146e-04, 2.46102859e-04,
        9.99768253e-01, 1.37817601e-03],
       [3.08309264e-02, 1.95831617e-03, 4.77025735e-04, 6.02558823e-04,
        9.99519554e-01, 2.38512867e-03],
       [1.98814066e-02, 1.18718590e-03, 3.79899489e-04, 3.16582908e-04,
        9.99800481e-01, 1.44045223e-03],
       [5.53607496e-02, 3.82719009e-03, 9.34546416e-04, 6.67533154e-04,
        9.98451590e-01, 3.69368345e-03],
       [3.01043861e-02, 2.00060794e-03, 5.00151985e-04, 6.90686074e-04,
        9.99541834e-01, 2.26259231e-03],
       [3.52370565e-02, 2.41387710e-03, 9.71099982e-04, 6.38151417e-04,
        9.99372864e-01, 2.24740282e-03],
       [5.54907051e-02, 3.46005955e-03, 1.47052531e-03, 9.08265633e-04,
        9.98443435e-01, 4.06556998e-03],
       [2.36109915e-02, 1.31659804e-03, 4.03756731e-04, 1.75546405e-04,
        9.99719221e-01, 1.43948052e-03],
       [2.19686923e-02, 1.49669243e-03, 3.78473947e-04, 4.64490753e-04,
        9.99756134e-01, 1.56550587e-03],
       [2.50556506e-02, 1.47850023e-03, 5.91400092e-04, 2.56273373e-04,
        9.99683003e-01, 1.87276696e-03],
       [3.01430726e-02, 1.88100297e-03, 7.52401187e-04, 6.58351039e-04,
        9.99541465e-01, 1.92802804e-03],
       [1.81902294e-02, 1.15469717e-03, 3.89897745e-04, 2.24941007e-04,
        9.99832782e-01, 1.40963031e-03],
       [3.26948427e-02, 1.93343270e-03, 7.43627962e-04, 2.47875987e-04,
        9.99460769e-01, 2.20609629e-03],
       [4.68248031e-02, 2.77560419e-03, 1.15349784e-03, 1.08140423e-03,
        9.98893087e-01, 3.13607227e-03],
       [2.77638277e-02, 1.91552382e-03, 5.40853786e-04, 2.92962467e-04,
        9.99610474e-01, 2.00566612e-03],
       [3.03019499e-02, 2.04197832e-03, 5.04192177e-04, 3.02515306e-04,
        9.99535782e-01, 2.34449363e-03],
       [3.70492193e-02, 2.33749018e-03, 8.76558817e-04, 8.47340190e-04,
        9.99306270e-01, 2.71733233e-03],
       [3.08838099e-02, 1.76081737e-03, 7.64565435e-04, 5.56047589e-04,
        9.99518711e-01, 2.13151576e-03],
       [2.21108981e-02, 1.35609098e-03, 5.62281628e-04, 1.81914644e-04,
        9.99753272e-01, 1.52146793e-03],
       [5.46576956e-02, 3.85768034e-03, 1.34368641e-03, 1.12696280e-03,
        9.98489038e-01, 3.77099090e-03],
       [2.01299094e-02, 1.23183028e-03, 3.90580331e-04, 4.20624972e-04,
        9.99795515e-01, 1.36703116e-03],
       [2.61334958e-02, 1.56642350e-03, 3.56906620e-04, 4.36219202e-04,
        9.99655786e-01, 1.60607979e-03],
       [2.21573924e-02, 1.38817398e-03, 4.80521764e-04, 3.02550740e-04,
        9.99752225e-01, 1.51275370e-03],
       [6.03845943e-02, 3.89433633e-03, 1.34287460e-03, 8.95249730e-04,
        9.98158687e-01, 3.89433633e-03],
       [3.02761207e-02, 1.90164064e-03, 7.00604447e-04, 3.50302223e-04,
        9.99537351e-01, 2.05177017e-03],
       [1.98490927e-02, 1.19591560e-03, 4.81472515e-04, 3.72752915e-04,
        9.99800975e-01, 1.49101166e-03],
       [3.74621857e-02, 2.44869283e-03, 8.16230944e-04, 8.16230944e-04,
        9.99291842e-01, 2.25167157e-03],
       [2.27993504e-02, 1.28761392e-03, 5.49381938e-04, 3.94868268e-04,
        9.99737782e-01, 1.56230489e-03],
       [4.01522400e-02, 2.65296908e-03, 6.85598752e-04, 5.36555545e-04,
        9.99185660e-01, 2.83182093e-03],
       [5.12119809e-02, 3.48988142e-03, 1.33914055e-03, 1.13624046e-03,
        9.98674207e-01, 3.44930141e-03],
       [2.10340642e-02, 1.46867062e-03, 4.22031786e-04, 1.85693986e-04,
        9.99776420e-01, 1.51931443e-03],
       [2.04405970e-02, 1.20515005e-03, 5.47795479e-04, 1.72164293e-04,
        9.99789354e-01, 1.28340655e-03],
       [2.42823828e-02, 1.49315190e-03, 5.22603166e-04, 4.47945571e-04,
        9.99702529e-01, 1.58647390e-03],
       [3.20696130e-02, 2.05540658e-03, 6.58784161e-04, 3.16216397e-04,
        9.99480978e-01, 2.13446068e-03],
       [3.42816922e-02, 2.10623169e-03, 9.42261547e-04, 4.15703624e-04,
        9.99406939e-01, 2.24479957e-03],
       [5.21860120e-02, 3.28188429e-03, 1.09396143e-03, 5.67239260e-04,
        9.98624718e-01, 3.60602101e-03],
       [3.83105312e-02, 2.63896771e-03, 8.79655903e-04, 3.63995546e-04,
        9.99258772e-01, 2.51763586e-03],
       [2.72060597e-02, 1.73881286e-03, 6.78561115e-04, 2.96870488e-04,
        9.99626548e-01, 1.73881286e-03],
       [2.79909750e-02, 1.76620370e-03, 5.36568212e-04, 6.70710265e-04,
        9.99604221e-01, 2.01213079e-03],
       [5.53417705e-02, 3.74357535e-03, 8.11859714e-04, 9.47169666e-04,
        9.98452138e-01, 3.87888530e-03],
       [2.53188874e-02, 1.52264704e-03, 3.70901203e-04, 5.07549015e-04,
        9.99676348e-01, 1.85450602e-03],
       [2.48628663e-02, 1.52601425e-03, 4.28028387e-04, 4.28028387e-04,
        9.99688212e-01, 1.61906390e-03],
       [1.96003491e-02, 1.37766032e-03, 3.44415080e-04, 4.22691235e-04,
        9.99805667e-01, 1.50290217e-03],
       [4.17719690e-02, 2.73334670e-03, 1.12549570e-03, 4.18041260e-04,
        9.99118611e-01, 2.86197478e-03],
       [4.68792820e-02, 2.91556909e-03, 8.05617776e-04, 7.67255024e-04,
        9.98889316e-01, 3.56773586e-03],
       [2.86872739e-02, 1.86280999e-03, 6.75268622e-04, 5.12272747e-04,
        9.99583841e-01, 2.23537199e-03],
       [2.30563794e-02, 1.37036430e-03, 4.45368398e-04, 2.91202414e-04,
        9.99732146e-01, 1.37036430e-03],
       [5.17439068e-02, 3.55713508e-03, 1.15813700e-03, 9.92688859e-04,
        9.98644993e-01, 3.97075544e-03],
       [2.83610090e-02, 1.72394569e-03, 4.20474559e-04, 4.20474559e-04,
        9.99594170e-01, 1.95520670e-03]])

In [0]:
#model
model= KMeans(n_clusters=3)

In [24]:
model.fit(data2_new)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=3, n_init=10, n_jobs=None, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [25]:
model.labels_

array([1, 0, 1, 2, 1, 1, 0, 1, 0, 2, 2, 0, 2, 0, 0, 2, 1, 2, 0, 1, 0, 1,
       1, 0, 0, 2, 0, 0, 2, 0, 0, 2, 2, 0, 2, 0, 0, 2, 0, 0, 0, 2, 2, 0,
       1, 2, 0, 0, 0, 2, 2, 0, 2, 0, 1, 2, 2, 1, 0, 0, 0, 2, 0, 2, 1, 0,
       2, 2, 2, 0, 1, 0, 0, 0, 1, 2, 0, 2, 0, 2, 1, 0, 0, 0, 2, 2, 1, 2,
       0, 2, 1, 0, 0, 0, 2, 1, 2, 0, 1, 2], dtype=int32)

In [0]:
# convert 1D to 2D
cluster = pd.DataFrame(model.labels_)

In [27]:
cluster.head()

   0
0  1
1  0
2  1
3  2
4  1

In [0]:
data['Tire']= cluster

In [43]:
data.head()

,University,SAT,Top10,Accept,SFRatio,Expenses,GradRate,Tire
0,Harvard University,1310,89,22,13,22704,94,1
1,California Institute of Technology,1415,100,25,6,63575,81,0
2,Massachusetts Institute of Technology,1260,62,59,9,25026,72,1
3,Stanford University,1310,76,24,12,31510,88,2
4,Princeton University,1280,83,33,13,21864,90,1

In [0]:
data1.to_excel("university.xlsx", sheet_name='sheet2' )

In [45]:
data2=data.iloc[:,[0,7,1,2,3,4,5,6]]
data2

,University,Tire,SAT,Top10,Accept,SFRatio,Expenses,GradRate
0,Harvard University,1,1310,89,22,13,22704,94
1,California Institute of Technology,0,1415,100,25,6,63575,81
2,Massachusetts Institute of Technology,1,1260,62,59,9,25026,72
3,Stanford University,2,1310,76,24,12,31510,88
4,Princeton University,1,1280,83,33,13,21864,90
5,University of Cambridge,1,1350,79,22,30,21732,86
6,University of Oxford,0,1400,84,25,23,51887,92
7,"University of California, Berkeley",1,1340,78,25,19,26763,83
8,Imperial College London,0,1219,77,18,24,44032,95
9,Yale University,2,1304,76,27,23,45893,95
10,"University of California, Los Angeles",2,1209,84,33,23,33402,85
11,University of Chicago,0,1205,75,28,24,58136,86
12,Johns Hopkins University,2,1235,86,27,25,37534,82
13,Cornell University,0,1247,83,26,28,57941,90
14,ETH Zurich Ã¢Â€Â“ Swiss Federal Institute of T...,0,1224,81,26,23,56202,94
15,University of Michigan,2,1236,76,32,11,37323,82
16,University of Toronto,1,1307,79,21,22,22901,82
17,Columbia University,2,1268,76,19,29,37039,95
18,University of Pennsylvania,0,1293,78,24,19,68673,88
19,Carnegie Mellon University,1,1292,84,23,20,27085,81
20,University of Hong Kong,0,1213,76,23,11,66905,83
21,University College London,1,1292,84,22,21,23284,81
22,University of Washington,1,1256,87,30,23,24275,85
23,Duke University,0,1267,87,26,25,52085,93
24,Northwestern University,0,1343,85,34,20,51353,85
25,University of Tokyo,2,1272,86,21,17,36039,90
26,Georgia Institute of Technology,0,1201,78,20,21,44750,92
27,Pohang University of Science and Technology,0,1350,81,30,21,51197,86
28,"University of California, Santa Barbara",2,1335,85,28,18,31271,83
29,University of British Columbia,0,1220,85,22,10,68053,94
...,...,...,...,...,...,...,...,...
70,University of Sydney,1,1261,89,31,26,23036,87
71,University of Virginia,0,1340,82,26,28,66554,91
72,University of Adelaide,0,1318,79,18,22,50416,81
73,University of Southern California,0,1245,78,27,17,56175,85
74,William & Mary,1,1349,87,30,20,22299,87
75,Trinity College Dublin,2,1210,76,28,14,39947,82
76,KingÃ¢Â€Â™s College London,0,1278,77,31,24,64373,96
77,Stony Brook University,2,1331,87,29,29,35504,80
78,Korea Advanced Institute of Science and Techno...,0,1328,75,32,23,58232,91
79,University of Sussex,2,1347,89,23,18,33520,95
80,The University of Queensland,1,1262,86,33,28,24610,85
81,University of York,0,1246,87,25,11,59224,90
82,Heidelberg University,0,1306,77,35,11,63879,82
83,University of Utah,0,1301,80,28,24,53562,85
84,Durham University,2,1217,78,25,12,37929,81
85,London School of Economics and Political Science,2,1237,76,34,15,36062,81
86,University of Manchester,1,1288,81,27,14,24647,89
87,"Royal Holloway, University of London",2,1263,87,29,12,32943,83
88,Lund University,0,1283,82,32,14,47141,82
89,University of Southampton,2,1252,79,24,30,44711,90
90,University of Zurich,1,1227,83,18,21,22137,86
91,Wake Forest University,0,1297,78,19,26,51210,95
92,McMaster University,0,1336,82,23,23,53718,87
93,University College Dublin,0,1252,88,22,27,63864,96
94,George Washington University,2,1299,85,35,13,31070,89
95,University of Arizona,1,1222,76,21,20,26038,93
96,University of Basel,2,1232,80,29,22,42928,96
97,"University of Maryland, College Park",0,1346,80,26,17,58363,80
98,Dartmouth College,1,1251,86,28,24,24144,96
99,Technical University of Munich,2,1349,82,20,20,47546,93

In [0]:
new =data.groupby('Tire')

In [48]:
new.mean()

              SAT      Top10     Accept    SFRatio      Expenses   GradRate
Tire
0     1280.577778  81.311111  26.177778  19.088889  58519.400000  87.933333
1     1285.500000  82.050000  27.950000  20.800000  24110.700000  86.500000
2     1274.314286  81.371429  27.428571  19.800000  38442.257143  88.000000