<a href="https://colab.research.google.com/github/Meghashyamt/python/blob/master/Randomforesttitanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import numpy as np
import pandas as pd

#import data visuvalize
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline





#import train test
from sklearn.model_selection import train_test_split

#import metrics
from sklearn.metrics import r2_score, accuracy_score, confusion_matrix, classification_report
from sklearn import metrics
from scipy import stats

In [2]:
data= pd.read_excel("titanic3.xls")
data.head()

   pclass  survived  ...   body                        home.dest
0       1         1  ...    NaN                     St Louis, MO
1       1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2       1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3       1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4       1         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

In [3]:
data.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [0]:
data=data.fillna(data.mean())

In [10]:
data.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age             0
sibsp           0
parch           0
ticket          0
fare            0
cabin        1014
embarked        2
boat          823
body            0
home.dest     564
dtype: int64

In [0]:
X=data.loc[:, ('body','pclass')]
y=data.survived

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y, test_size=0.15, random_state=20)

In [0]:
from sklearn.ensemble import RandomForestClassifier

In [0]:
model= RandomForestClassifier()

In [20]:
model.fit(X_train, y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/ensemble/forest.py:246: FutureWarning: The default value of n_estimators will change from 10 in version 0.20 to 100 in 0.22.
  "10 in version 0.20 to 100 in 0.22.", FutureWarning)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, n_estimators=10, n_jobs=None,
            oob_score=False, random_state=None, verbose=0,
            warm_start=False)

In [0]:
predict= model.predict(X_test)

In [22]:
y_test

682     0
1121    1
1257    1
244     0
874     1
1207    0
195     1
965     0
491     0
410     0
287     0
545     1
281     1
1124    0
255     1
553     1
1017    1
640     0
265     1
137     1
103     1
120     1
1283    0
479     1
414     0
671     0
141     1
657     1
1236    1
762     1
       ..
1170    0
837     0
285     0
848     0
1187    1
1053    0
389     0
1294    0
275     1
280     1
356     0
13      1
172     0
69      1
440     1
116     1
487     0
1211    0
709     1
1107    0
555     0
522     0
175     0
942     0
1193    0
328     0
1000    1
300     0
421     0
760     1
Name: survived, Length: 197, dtype: int64

In [23]:
predict

array([0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0])

In [24]:
accuracy_score(y_test, predict)

0.6700507614213198

In [25]:
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       0.66      0.86      0.75       111
           1       0.70      0.43      0.53        86

   micro avg       0.67      0.67      0.67       197
   macro avg       0.68      0.64      0.64       197
weighted avg       0.68      0.67      0.65       197