<a href="https://colab.research.google.com/github/Meghashyamt/python/blob/master/svmtitanic.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
# import librarires 
import numpy as np
import pandas as pd

#import data visuvalize
import matplotlib.pyplot as plt
import seaborn as sb
%matplotlib inline


#import train test
from sklearn.model_selection import train_test_split

#import metrics
from sklearn.metrics import r2_score, accuracy_score, confusion_matrix, classification_report
from sklearn import metrics
from scipy import stats

In [0]:
data=pd.read_excel("titanic3.xls")
data.head()

   pclass  survived  ...   body                        home.dest
0       1         1  ...    NaN                     St Louis, MO
1       1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2       1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3       1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4       1         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

In [0]:
data.shape

(1309, 14)

In [0]:
data.isnull().sum()

pclass          0
survived        0
name            0
sex             0
age           263
sibsp           0
parch           0
ticket          0
fare            1
cabin        1014
embarked        2
boat          823
body         1188
home.dest     564
dtype: int64

In [0]:
data= data.fillna(data.mean())

In [0]:
from sklearn.preprocessing import LabelEncoder

In [0]:
enc= LabelEncoder()

In [0]:
data.pclass= enc.fit_transform(data.pclass)
data.survived= enc.fit_transform(data.survived)
data.name= enc.fit_transform(data.name)
data.sex= enc.fit_transform(data.sex)
data.age = enc.fit_transform(data.age)

#data.embarked= enc.fit_transform(data.embarked)
#data.boat= enc.fit_transform(data.boat)
data.body= enc.fit_transform(data.body)

In [0]:
X= data.loc[:,('pclass', 'name','sex','age','body')]
y=data.survived

In [0]:
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.15, random_state=10)

In [0]:
from sklearn.svm import SVC

In [0]:
model= SVC(kernel= 'rbf', C= 1000, gamma =0.1)

In [0]:
model.fit(X_train, y_train)

SVC(C=1000, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma=0.1, kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [0]:
predict =model.predict(X_test)

In [0]:
y_test

271     1
375     0
1243    0
145     1
1273    0
1193    0
1167    0
341     1
598     1
1031    0
427     1
125     0
628     0
102     1
492     1
361     1
267     0
910     0
109     1
498     0
56      1
74      0
834     0
689     0
486     0
514     1
1056    1
334     0
846     0
123     1
       ..
507     0
895     1
188     1
64      1
420     0
348     0
298     1
723     0
625     1
234     0
273     1
1299    0
69      1
1202    0
29      1
139     1
171     0
278     1
778     1
1250    0
603     1
68      1
946     0
274     1
359     1
795     0
790     0
339     1
501     1
1071    1
Name: survived, Length: 197, dtype: int64

In [0]:
predict

array([1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1, 0, 1,
       1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1,
       0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0])

In [0]:
accuracy_score(y_test, predict)

0.5989847715736041

In [0]:
print(classification_report(y_test, predict))

              precision    recall  f1-score   support

           0       0.62      0.85      0.72       119
           1       0.49      0.22      0.30        78

   micro avg       0.60      0.60      0.60       197
   macro avg       0.55      0.53      0.51       197
weighted avg       0.57      0.60      0.55       197

In [0]:
from sklearn.model_selection import GridSearchCV

In [0]:
#Grid Search  to find the value from kernel , c , gamma
parameters=[{'kernel':['linear'], 'C':[1,10,100,1000,10000]},
           {'kernel':['rbf'],'gamma':[0.5, 0.1, 0.05,0.07,0.08], 'C':[1,10,100,1000,10000]}]

In [0]:
grid_model_svc= GridSearchCV(SVC(), parameters)
grid_model_svc.fit(X_train, y_train)
grid_model_svc.best_score_

/usr/local/lib/python3.6/dist-packages/sklearn/model_selection/_split.py:2053: FutureWarning: You should specify a value for 'cv' instead of relying on the default value. The default value will change from 3 to 5 in version 0.22.
  warnings.warn(CV_WARNING, FutureWarning)

In [0]:
grid_model_svc.best_params_